login/login/bin/Debug/DevExpress.BonusSkins.v22.1.dll
login/login/bin/Debug/DevExpress.Data.Desktop.v22.1.dll
login/login/bin/Debug/DevExpress.Data.Desktop.v22.1.xml
login/login/bin/Debug/DevExpress.Data.v22.1.dll
login/login/bin/Debug/DevExpress.Data.v22.1.xml
login/login/bin/Debug/DevExpress.Drawing.v22.1.dll
login/login/bin/Debug/DevExpress.Pdf.v22.1.Core.dll
login/login/bin/Debug/DevExpress.Pdf.v22.1.Core.xml
login/login/bin/Debug/DevExpress.Pdf.v22.1.Drawing.dll
login/login/bin/Debug/DevExpress.Pdf.v22.1.Drawing.xml
login/login/bin/Debug/DevExpress.Printing.v22.1.Core.dll
login/login/bin/Debug/DevExpress.Printing.v22.1.Core.xml
login/login/bin/Debug/DevExpress.Sparkline.v22.1.Core.dll
login/login/bin/Debug/DevExpress.Sparkline.v22.1.Core.xml
login/login/bin/Debug/DevExpress.Utils.v22.1.dll
login/login/bin/Debug/DevExpress.Utils.v22.1.xml
login/login/bin/Debug/DevExpress.XtraEditors.v22.1.dll
login/login/bin/Debug/DevExpress.XtraEditors.v22.1.xml
login/login/bin/Debug/login.exe
login/login/bin/Debug/login.exe.config
login/login/bin/Debug/login.pdb
login/login/bin/Debug/de/DevExpress.Data.v22.1.resources.dll
login/login/bin/Debug/de/DevExpress.Pdf.v22.1.Core.resources.dll
login/login/bin/Debug/de/DevExpress.Printing.v22.1.Core.resources.dll
login/login/bin/Debug/de/DevExpress.Sparkline.v22.1.Core.resources.dll
login/login/bin/Debug/de/DevExpress.Utils.v22.1.resources.dll
login/login/bin/Debug/de/DevExpress.XtraEditors.v22.1.resources.dll
login/login/bin/Debug/es/DevExpress.Data.v22.1.resources.dll
login/login/bin/Debug/es/DevExpress.Pdf.v22.1.Core.resources.dll
login/login/bin/Debug/es/DevExpress.Printing.v22.1.Core.resources.dll
login/login/bin/Debug/es/DevExpress.Sparkline.v22.1.Core.resources.dll
login/login/bin/Debug/es/DevExpress.Utils.v22.1.resources.dll
login/login/bin/Debug/es/DevExpress.XtraEditors.v22.1.resources.dll
login/login/bin/Debug/ja/DevExpress.Data.v22.1.resources.dll
login/login/bin/Debug/ja/DevExpress.Pdf.v22.1.Core.resources.dll
login/login/bin/Debug/ja/DevExpress.Printing.v22.1.Core.resources.dll
login/login/bin/Debug/ja/DevExpress.Sparkline.v22.1.Core.resources.dll
login/login/bin/Debug/ja/DevExpress.Utils.v22.1.resources.dll
login/login/bin/Debug/ja/DevExpress.XtraEditors.v22.1.resources.dll
login/login/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
login/login/obj/Debug/DesignTimeResolveAssemblyReferences.cache
login/login/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
login/login/obj/Debug/login.csproj.AssemblyReference.cache
login/login/obj/Debug/login.csproj.CopyComplete
login/login/obj/Debug/login.csproj.CoreCompileInputs.cache
login/login/obj/Debug/login.csproj.FileListAbsolute.txt
login/login/obj/Debug/login.csproj.GenerateResource.cache
login/login/obj/Debug/login.csproj.SuggestedBindingRedirects.cache
login/login/obj/Debug/login.DIalog.MainForm.resources
login/login/obj/Debug/login.exe
login/login/obj/Debug/login.exe.licenses
login/login/obj/Debug/login.Login.resources
login/login/obj/Debug/login.pdb
login/login/obj/Debug/login.Properties.Resources.resources
winform_login/winform_login/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
winform_login/winform_login/obj/Debug/DesignTimeResolveAssemblyReferences.cache
winform_login/winform_login/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
winform_login/winform_login/obj/Debug/winform_login.csproj.AssemblyReference.cache
login/.vs/login/FileContentIndex/0b641ff5-87b3-4187-9b33-b30ef92e3fc3.vsidx
login/.vs/login/FileContentIndex/12457dda-3db8-4a60-9558-e45a7f3f405b.vsidx
login/.vs/login/FileContentIndex/a22b2aac-73e7-44bf-8c0b-1dac52092a62.vsidx
login/.vs/login/FileContentIndex/f6a181e0-11b5-4c4a-b51c-a5e50cd1b8f5.vsidx
login/.vs/login/FileContentIndex/read.lock
login/.vs/login/v17/.suo
